.container{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    /*overflow-y: scroll;*/

}
#title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.go{
    background-color: green;
}
.go:hover{
    background-color: white;
    color:black;
}
.resultSection{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    /* background-color: red; */
    /* display: none; */
}

.container.d-flex > app-key-word-section {
  flex-grow: 1;
}

.container.d-flex > .button-container {
  flex-grow: 0;
}
